#container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;

    font-family: sans-serif;
}

.slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;

    transition: left 0.25s ease;
}

.pointer {
    cursor: pointer;
}

.edit,
.add,
.change{
    position: absolute;
    opacity: 0.15;
}

.add,
.change{
    height: 5rem;
    font-size: 4rem;
    font-weight: bold;
    right: 3rem;
}

.edit{
    height: 4rem;
    top: 1rem;
    right: 2rem;
}

.add{
    top: 5rem;
}

.change{
    top: 9rem;
}

.edit:hover,
.add:hover,
.change:hover{
    opacity: 0.3;
}
