#container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;

    font-family: sans-serif;
}

#icons {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 3rem;
    padding-top: 0.25rem;
    z-index: 1;
}

#icons .fa {
    font-size: 2rem;
    opacity: 0.15;
    margin: 0.25rem 0 0.25rem 5rem;
    transition: margin 0.15s ease;
}

#icons:hover .fa {
    margin-left: 0;
}

#icons .fa:hover{
    opacity: 0.3;
}

.slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;

    transition: left 0.25s ease;
}

.pointer {
    cursor: pointer;
}

textarea{
    width: 90%;
    max-width: 60em;
    height: 50%;
    font-size: 1.5rem;
    font-family: monospace;
    padding: 0.5rem;
    resize: none;
}
